<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>GM Home</title>
  </head>
  <body>
    <div id="body">
      <div id="header">
        <h1>GM Home</h1>
      </div>

<a href="http://192.168.1.125:9001/">Supervisor game process management page</a>
</br></br>

<div id="cmdlist">
<form action="/gm_cmds" method="get">
<select name="cmdname">
<option value="refresh_csv" selected="selected">Hot update of server CSV configuration table data</option>
<!--<option value="reload_game">Game逻辑热更新</option>-->
<option value="add_card_to_role">Add a card to a role</option>
<option value="add_item_to_role">Add items to the role</option>
<option value="add_equip_to_role">Add equipment to the role</option>
<option value="add_gate_to_role">Add a gate to the role</option>
<option value="add_exp_to_role">Add experience to the role</option>
<option value="send_mail_to_role">Send email to role</option>
</select>
<input type="submit" value="implement">
</form>
</div>

    </div>
  </body>
</html>
